// =======================================
// =            Global Config            =
// =======================================

// Typography
$system-fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
$font: "futura";

// Colors
$black: #000000;
$white: #ffffff;
$red: #ce4841;
$yellow: #f6aa3d;
$light-blue: #74c0c0;

// Breakpoints
$breakpoints: (
  xs: 20em,
  sm: 30em,
  md: 64em,
  lg: 86em,
  xl: 121em
) !default;

$columns: 12;
$column-gutter: 30px;
