// =======================================
// =            Global Config            =
// =======================================

// Typography
$system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font: 'futura';


// Colors
$black: black;
$white: white;

// Breakpoints
$breakpoints: (
  xs: 20em,
  sm: 30em,
  md: 64em,
  lg: 68em,
) !default;

$columns: 12;
$column-gutter: 30px;
