.mainFooter {
  text-align: center;
  padding: rem(50) 0;
}

#magic {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 0.225s ease;

  &:hover {
    color: $red;
  }

  h4 {
    font-size: rem(18);

    @include breakpoint(sm) {
      font-size: rem(20);
    }
  }
}
