.hero {
  height: auto;
  display: flex;
  align-items: center;
  padding: rem(30) 0;
  position: relative;

  @include breakpoint(md) {
    height: 100vh;
    padding: 0;
  }

  &--content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: rem(30) 0;

    @include breakpoint(md) {
      height: 100%;
      padding: 0;
    }
  }

  .container {
    max-width: 100%;
    padding: 0 rem(20);
    margin-top: rem(-10);
    z-index: 2;
    position: relative;
    background-color: rgba($white, 0.5);
    box-shadow: 1px 2px 3px rgba($white,.5);

    @include breakpoint(md) {
      padding: 0 rem(30);
      max-width: rem(706);
    }
  }

  h1 {
    font-size: rem(52);
    margin-bottom: rem(14);
    line-height: 1;

    @include breakpoint(sm) {
      font-size: rem(60);
    }

    @include breakpoint(md) {
      font-size: rem(100);
    }
  }

  p {
    font-size: rem(16);
    margin-bottom: rem(20);

    @include breakpoint(md) {
      font-size: rem(18);
      margin-bottom: rem(28);
    }
  }

  ul {
    li {
      display: inline-block;
      margin-right: rem(25);

      svg {
        transition: all .225s ease;
      }
    }

    .tw {
      &:hover {
        a svg {
          stroke: #00aced;
        }
      }
    }

    .fb {
      &:hover {
        a svg {
          stroke: #3B5998;
        }
      }
    }

    .ig {
      &:hover {
        a svg {
          stroke: #8a49a1;
        }
      }
    }

    .in {
      &:hover {
        a svg {
          stroke: #4875B4;
        }
      }
    }


    .gh {
      &:hover {
        a svg path{
          stroke: #333333;
        }
      }
    }
  }
}

.scroll {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  width: rem(36);
  padding: 0;
  text-align: center;
  z-index: 1;

  @include breakpoint(md) {
    display: block;
  }
}

.contact {
  margin-top: rem(30);
  text-decoration: none;
  border: rem(2) solid $black;
  color: $white;
  background-color: $black;
  display: table;
  padding: rem(12) rem(70);
  transition: all 0.225s ease;
  font-size: rem(18);
  text-align: center;
  width: 100%;

  @include breakpoint(sm) {
    width: auto;
  }

  &:hover {
    color: $black;
    background-color: $white;
  }
}
