.hero {
  height: auto;
  display: flex;
  align-items: center;
  padding: rem(30) 0;

  @include breakpoint(md) {
    height: 100%;
    padding: 0;
  }

  .container {
    max-width: rem(706);
    padding: 0 rem(30);

  }

  h1 {
    /* font-weight: 700; */
    font-size: rem(60);
    margin-bottom: rem(14);
    line-height: 1;
    @include breakpoint(md) {
      font-size: rem(100);
    }
  }

  p {
    font-size: rem(16);
    line-height: 1.5;
    margin-bottom: rem(20);

    @include breakpoint(md) {
      font-size: rem(18);
      margin-bottom: rem(30);
    }
  }

  ul {
    li {
      display: inline-block;
      margin-right: rem(25);

      svg {
        transition: all .225s ease;
      }
    }

    .tw {
      &:hover {
        a svg {
          stroke: #00aced;
        }
      }
    }

    .fb {
      &:hover {
        a svg {
          stroke: #3B5998;
        }
      }
    }

    .ig {
      &:hover {
        a svg {
          stroke: #8a49a1;
        }
      }
    }

    .in {
      &:hover {
        a svg {
          stroke: #4875B4;
        }
      }
    }


    .gh {
      &:hover {
        a svg path{
          stroke: #333333;
        }
      }
    }
  }
}

.scroll {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  width: rem(34);
  text-align: center;

  @include breakpoint(md) {
    display: block;
  }
}
