.work {
  position: relative;
  padding: rem(60) 0;
  margin: rem(20) 0;
  height: auto;

  @include breakpoint(md) {
    height: rem(1200);
    padding: rem(130) 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: rem(240);
    height: rem(2);
    background-color: $black;

    @include breakpoint(md) {
      width: rem(360);
    }
  }

  &--img {
    img {
      max-width: 100%;
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .2s ease-in-out;
      vertical-align: text-bottom;

      @include breakpoint(md) {
        max-width: rem(1280);
        width: rem(1280);
      }
    }

    &:hover {
      img {
        filter: none;
        -webkit-filter: grayscale(0);
      }
    }
  }

  &--text {
    max-width: 100%;
    margin-bottom: rem(30);

    @include breakpoint(md) {
      max-width: rem(460);
      margin-bottom: 0;
    }

    h2 {
      font-size: rem(50);
      font-weight: 700;
      margin-bottom: rem(10);
      line-height: 1;

      @include breakpoint(md) {
        font-size: rem(80);
        margin-bottom: rem(20);
      }
    }

    p {
      font-size: rem(16);
      line-height: 1.66;

      @include breakpoint(md) {
        font-size: rem(18);
      }
    }

    &__about {
      position: relative;
      padding-bottom: rem(20);

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: rem(50);
        height: rem(2);
        background-color: $black;
      }
    }

    &__description {
      padding-top: rem(20);
    }
  }

  &--even {
    .container {
      padding: 0 rem(20);

      @include breakpoint(md) {
        padding: 0 0 0 rem(40);
      }

      @include breakpoint(lg) {
        padding: 0 0 0 rem(40);
      }
    }

    .edge {
      right: 0;
    }
  }

  &--odd {
    .container {
      padding: 0 rem(20);

      @include breakpoint(md) {
        padding: 0 rem(40) 0 0;
      }

      @include breakpoint(lg) {
        padding: 0 rem(60) 0 0 ;
      }
    }

    .edge {
      left: 0;
    }

    .work--text {
      float: right;
    }

    .work--img {
      position: relative;
      width: 100%;
      height: 100%;

      @include breakpoint(md) {
        width: rem(1280);
        height: rem(950);
      }

      img {
        position: static;
        right: 0;

        @include breakpoint(md) {
          position: absolute;
        }
      }
    }
  }

  &--center {
    height: auto;
    padding-bottom: rem(50);

    @include breakpoint(md) {
      padding-bottom: rem(100);
    }

    .work--text {
      margin: 0 auto;
      text-align: center;
      max-width: 100%;

      p {
        width: 100%;
        max-width: rem(580);
        margin: 0 auto;
        margin-top: rem(15);
      }
    }
  }
}

.edge {
  display: flex;
  position: static;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.30);

  @include breakpoint(md) {
    position: absolute;
  }
}


.mla {
  margin-left: auto;
  order: -1;

  @include breakpoint(md) {
    order: 1;
  }
}
