extends layouts/layout-primary

block content
  //- canvas#canvas
  include layouts/general/hero
  section#works
    include layouts/general/soy-solo
    include layouts/general/neolo
    include layouts/general/doncupones
    include layouts/general/pixel
