extends layouts/layout-primary

block content
  canvas#canvas

  include layouts/general/hero

  section#works
    include layouts/general/penny
    include layouts/general/satellogic
    include layouts/general/lopez
    include layouts/general/rixner
    include layouts/general/neolo
    include layouts/general/soy-solo
    include layouts/general/pixel
