section.work.work--odd(aria-label="Lopez Hostel and Suites work")
  .container
    .row
      .col-md-6.edge
        .work--img.hz
          +img('lopez.jpg', "Lopez Hostel and Suites's website screenshot")
      .col-md-6.mla
        .work--text
          h2 Lopez Hostel &amp; Suites
          .work--text__about
            p Lopez Hostel &amp; Suites is a boutique hostel in Palermo, Buenos Aires.
          .work--text__description
            p I had the pleasure to work with this great hostel making a redesign and the frontend of their new website.
            a(href="https://lopezhostel.com", title="", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
