section.work.work--odd
  .container
    .row
      .col-md-6.edge
        .work--img
          +img('neolo@2x.jpg', "Neolo's website screenshot")
      .col-md-6.mla
        .work--text
          h2 Neolo
          .work--text__about
            p Neolo.com is one of the most important web hosting company in Latin America with more than 80.000 web sites and 14 years of experience.
          .work--text__description
            p Since Neolo is in constant evolution and growing, Its website needed to be able to adapt their necessities and be responsive to that. My role in this project was to redesign the complete experience, create a new UI and develop the frontend.
            p My main approach for this job was to focus on emotional design and create reusable blocks that could work in the different pages.

            a(href="https://www.neolo.com/argentina/", title="", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
