section.work.work--odd
  .container
    .row
      .col-md-6.edge
        .work--img
          +img('neolo.jpg', "Neolo's website screenshot")
      .col-md-6.mla
        .work--text
          h2 Neolo
          .work--text__about
            p Neolo is one of the most important web hosting company in Latin America with more than 80,000 websites and 14 years of experience.
          .work--text__description
            p Since Neolo is constantly growing and expanding, its website needed to be able to adapt to their necessities and be responsive to that. My role in this project was to redesign the complete experience, create a new UI and develop the frontend.
            p For this job I tried to focus mainly on emotional design and create reusable blocks that could work for the different pages.

            a(href="https://www.neolo.com/argentina/", title="", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
