section.work.work--even(aria-label="Penny Design System")
  .container
    .row
      .col-md-6
        .work--text
          h2 Penny
          .work--text__about
            p Penny is a small design system created with React and Storybook
          .work--text__description
            a(href="https://main--624aecefae45c1003a80bf5b.chromatic.com/?path=/story/intro--page", title="Penny's website", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
      .col-md-6.edge
        .work--img.hz
          img(src="assets/images/penny.jpg", alt="Penny's website screenshot")

