section.work.work--center
  .container
    .row
      .col-md-12
        .work--text
          h2 Frontend work
          p I’ve been working for more than 3 years as a frontend dev at Pixel2HTML. But, what’s Pixel2HTML? Lemme tell you. Pixel2HTML is FrontEnd Development Company that helps Freelancers, Startups &amp; Agencies to get the best HTML/CSS and JavaScript code for their site.
          
  .container-fluid.work--pixel.hz
    .row
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://www.mercadoshops.com.ar/", title="Mercado Shops's website", target="_blank", rel="noopener")
            figure
              +img('mercadoshops.jpg', "Mercado Shops's website screenshsot")
              figcaption
                h3  Mercado Shops
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://jampp.com/case-studies/deliveroo/", title="jampp's website", target="_blank", rel="noopener")
            figure
              +img('jampp.jpg', "jampp's website screenshsot")
              figcaption
                h3  Jammpp
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://demos.pixel2html.com/0003007/0004654/index.html", title="ICO Comply's website", target="_blank", rel="noopener")
            figure
              +img('icocomply.jpg', "ICO Comply's website screenshsot")
              figcaption
                h3  ICO Comply
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Landing
                span view site

    .row
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://www.ripvan.com/", title="Rip Van's website", target="_blank", rel="noopener")
            figure
              +img('ripvan.jpg', "Rip Van's website screenshsot")
              figcaption
                h3  Rip Van
                ul
                  li #Waffles
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://toi.io/", title="Toi's website", target="_blank", rel="noopener")
            figure
              +img('toi.jpg', "Toi's website screenshsot")
              figcaption
                h3  Toi
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="http://chicagomontessori.org/", title="Chicago Montessori's website", target="_blank", rel="noopener")
            figure
              +img('chicagomontessori.jpg', "Chicago Montessori's website screenshsot")
              figcaption
                h3  Chicago Montessori
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://demos.pixel2html.com/0000122/0004632/index.html", title="Borrow's website", target="_blank", rel="noopener")
            figure
              +img('borrow.jpg', "Borrow's website screenshsot")
              figcaption
                h3  Borrow
                ul
                  li #HTML
                  li #CSS
                  li #JS
                span view site
