section.work.work--center
  .container
    .row
      .col-md-12
        .work--text
          h2 Frontend work
          p I’ve been working for more than 3 years as a frontend dev at Pixel2HTML. But, what’s Pixel2HTML? Lemme tell you. Pixel2HTML is FrontEnd Development Company that helps Freelancers, Startups &amp; Agencies to get the best HTML/CSS and JavaScript code for their site.
          
  .container-fluid.work--pixel
    .row
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site

    .row
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-xs-6.col-sm-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              +img('pixel@2x.jpg', "Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #Animation
                  li #HTML
                  li #CSS
                  li #JS
                span view site
