section.work.work--center(aria-label="Frontend work")
  .container
    .row
      .col-md-12
        .work--text
          h2 Frontend work
          p I’ve been working for more than 6 years as a frontend dev freelance or in companies like #[a(href="http://pixel2html.com" title="Pixel2HTML's website", target="_blank", rel="noopener") Pixel2HTML] or #[a(href="http://bons.io/" title="Bons's website", target="_blank", rel="noopener") Bons]. And here there's a collection of projects that I made.
  .container-fluid.work--pixel.hz
    .row
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://pixel2html.com/", title="Pixel2HTML's website", target="_blank", rel="noopener")
            figure
              img(src="assets/images/pixel.jpg", alt="Pixel2HTML's website screenshsot")
              figcaption
                h3  Pixel2HTML
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://www.mercadoshops.com.ar/", title="Mercado Shops's website", target="_blank", rel="noopener")
            figure
              img(src="assets/images/mercadoshops.jpg", alt="Mercado Shops's website screenshsot")
              figcaption
                h3  Mercado Shops
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://www.ripvan.com/", title="Rip Van's website", target="_blank", rel="noopener")
            figure
              img(src="assets/images/ripvan.jpg", alt="Rip Van's website screenshsot")
              figcaption
                h3  Rip Van
                ul
                  li #Waffles
                  li #HTML
                  li #CSS
                  li #JS
                span view site
      .col-sm-6.col-md-3
        .pixel-block.pixel-block--pixel
          a(href="https://toi.io/", title="Toi's website", target="_blank", rel="noopener")
            figure
              img(src="assets/images/toi.jpg", alt="Toi's website screenshsot")

              figcaption
                h3  Toi
                ul
                  li #HTML
                  li #CSS
                  li #JS
                  li #Animation
                span view site

