section.work.work--even(aria-label="Satellogic work")
  .container
    .row
      .col-md-6
        .work--text
          h2 Rixner
          .work--text__about
            p Rixner is a premier Destination Management Company in Argentina.
          .work--text__description
            p Traveling is one of my pleasures, so I was very grateful to be able to redesign and build Rixner's website
            a(href="https://www.rixnerdmc.com/", title="Rixner's website", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
      .col-md-6.edge
        .work--img.hz
          img(src="assets/images/rixner.jpg", alt="Rixner's website screenshot")

