section.work.work--even(aria-label="Satellogic work")
  .container
    .row
      .col-md-6
        .work--text
          h2 Satellogic
          .work--text__about
            p Satellogic is the first vertically integrated geospatial analytics company. They drive real results with information on a planetary scale that you can trust.
          .work--text__description
            p In collaboration with the #[a(href="http://sansbureau.com" title="Sans Bureau's website", target="_blank", rel="noopener") Sans Bureau] team we were working on the redesign of the Satellogic website.
            a(href="https://satellogic.com/", title="Satellogic's website", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
      .col-md-6.edge
        .work--img.hz
          img(src="assets/images/satellogic.jpg", alt="Satellogic's website screenshot")
