section.work.work--even
  .container
    .row
      .col-md-6
        .work--text
          h2 Soy Solo
          .work--text__about
            p Soy solo is a book about honest stories of leadership to be happy in the 21st century and beyond by Leo Piccioli.
          .work--text__description
            p Leo requested me to create a landing page for his new brand book, “Soy solo”. He wanted a simple, clean and fast website and I was responsible for the design and the frontend
            a(href="http://soy-solo.netlify.com/", title="Soy solo's website", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
      .col-md-6.edge
        .work--img
          +img('soy-solo.jpg', "Soy Solo's website screenshot")
