section.work.work--even
  .container
    .row
      .col-md-6
        .work--text
          h2 Soy Solo
          .work--text__about
            p #[em Soy solo] is a book of honest stories about leadership to be happy in the 21st century and beyond by Leo Piccioli.
          .work--text__description
            p Leo requested me to create a landing page for his brand new book, #[em Soy solo]. He wanted a simple, clean, fast website and I designed and developed one for him.
            a(href="http://soy-solo.netlify.com/", title="Soy solo's website", target="_blank", rel="noopener")
              span Visit the website
              +svg('arrow-right')
      .col-md-6.edge
        .work--img.hz
          +img('soy-solo.jpg', "Soy Solo's website screenshot")
