*, *::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  position: relative;
  font-family: $system-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.futura-loaded {
    font-family: $font;
  }
}

body {
  font: inherit;
  line-height: inherit;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  transition: .2s;

  &.lazyload {
    filter: blur(2px);
  }

  &.lazyloaded {
    filter: blur(0);
  }
}


a {
  color: $black;
}

::selection {
  background-color: $black;
  color: $white;
}


.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


ul {
  padding-left: 0;
}
